<div class="carousel-container">
  <ngu-carousel #myCarousel [inputs]="carouselConfig" [dataSource]="carouselItems">
    <div *nguCarouselDef="let item;" class="item">
      <div class="tile">
        <img src="./assets/img/{{item}}" alt="{{item}}">
      </div>
    </div>

    <button NguCarouselNext class="rightRs carousel-arrow"><mat-icon>keyboard_arrow_right</mat-icon></button>
    <button NguCarouselPrev class="leftRs carousel-arrow"><mat-icon>keyboard_arrow_left</mat-icon></button>
  </ngu-carousel>
</div>

<div class="title">
  <h1> LA cabane Du singe {{hebergement}}</h1>
  <h2> 55€/nuit</h2>
</div>

<form [formGroup]="search" class="search" submit="console.log('ok')">

  <mat-form-field class="col-xs-3 col-md-3 col-sm-12">
    <mat-label class="numberPeopleLabel">Nombre de personnes</mat-label>
    <input matInput type="number"  formControlName ="peopleNumber" (change) = checkThisNbPeople() min = "0" max ="20">
  </mat-form-field>

  <mat-form-field appearance="fill" class="col-xs-3 col-md-3 col-sm-12">
    <mat-label>Début du séjour</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="start" required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="fill" class="col-xs-3 col-md-3 col-sm-12">
    <mat-label>Fin du Séjour</mat-label>
    <input matInput [matDatepicker]="picker2" formControlName="end" required>
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>
  <div class="col-12">
    <button  type="submit" name="button" class="submit" >
      <mat-icon>search</mat-icon>
    </button>
  </div>
</form>
