<ng-container *ngFor="let home of homes">
  <div class="">
    {{ home.libelle }}
    {{ home.type}}
  </div>
</ng-container>


<div class="wrapper">
  <div class="search-container">
    <div class="background-effect">
      <div class="first-card">
        <div class="title">
          <h1> Atypik House</h1>
          <h2>Location de Logements Insolites</h2>
        </div>
        <form [formGroup]="search" class="search" submit="console.log('ok')">
          <mat-form-field appearance="fill" class="col-xl-4 col-md-4 col-sm-12" >
            <mat-label>Catégories</mat-label>
            <mat-select multiple formControlName="category" required>
              <mat-option *ngFor="let category of categories" [value]="category.value">
                {{category.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill" class="col-xl-4 col-md-4 col-sm-12" >
            <input matInput
            [min]="minDate"
            [max]="maxDate"
            placeholder="Sélectionnez les Dates"
            [satDatepicker]="picker"
            (click)="picker.open()"
            (dateInput)="onDateChange($event.value)"
            [value]="dates"
            formControlName="date">
            <sat-datepicker #picker [rangeMode]="true"></sat-datepicker>
            <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
          </mat-form-field>
          <mat-form-field required appearance="fill" class="col-xl-4 col-md-4 col-sm-12">
            <mat-label>Departements</mat-label>
            <mat-select formControlName="Département" multiple formControlName="localisation" >
              <mat-option *ngFor="let dept of departements" [value]="dept.id">
                {{dept.name}}
              </mat-option>
            </mat-select>
            <mat-error>Selectionner un département</mat-error>
          </mat-form-field>
          <div class="col-12">
            <button  type="submit" name="button" class="submit" >
              <mat-icon>search</mat-icon>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="desc-container">
      <h2>Qui nous sommes</h2>
      <p>Atypik House met en relation des propriétaire de logement insolites et atypiques et des famille, couple qui souhaite vivre une nouvelle expérience qui sorte de l'ordinaire
      Que ce soit dans un igloo dans les alpes, un refuge au pied des piste, une cabane dans les arbres ou tout autre logement atypique, Atypik House s'engage à vous faire vivre une expérience extraordinaire</p>
    </div>
    <div class="idea-container">
      <div class="background-effect">

        <div class="title">
          <h2>Nos Idées Week End Insolite</h2>
        </div>
        <div class="list-idea">
          <div class="card-idea col-xl-6 col-sm-12 col-md-6">
            <div class="idea idea-1">
              <a href="#"><span>Proche de Paris</span>
                <p>Envie de vous évader le temps d'un week end en famille ou en amoureux aux abord de la capitale.
                Venez découvrir nos séjour en Île de France</p>
              </a>
            </div>
          </div>
          <div class="card-idea col-xl-6 col-sm-12 col-md-6">
            <div class="idea idea-2">
              <a href="#"><span>Week end Insolite en Bretagne</span>
                <p>Venez découvrir nos logements Insolite en Bretagne, et soyez dépaysé</p>
              </a>
            </div>
          </div>
          <div class="card-idea col-xl-6 col-sm-12 col-md-6">
            <div class="idea idea-3">
              <a href="#"><span>Week end Insolite en Auvergne-Rhône-Alpes</span>
                <p>Retrouvez le plaisir de la montagne dans des logements insolite qui vous ferons rêver</p>
              </a>
            </div>
          </div>
          <div class="card-idea col-xl-6 col-sm-12 col-md-6">
            <div class="idea idea-4">
              <a href="#"><span>Week end Insolite en Bourgogne-Franche-Comté</span>
                <p>Vos papilles elles aussi ont besoin d'être dépaysé, venez découvrir nos logements insolite et les spécialités de la Bourgogne-Franche-Comté</p>
              </a>
            </div>
          </div>
          <div class="card-idea col-xl-6 col-sm-12 col-md-6">
            <div class="idea idea-5">
              <a href="#"><span>Week end Insolite en Centre-Val de Loire</span>
                <p>Besoin de vous resourcer, nos logements insolite vous attendent en Centre Val de Loire</p>
              </a>
            </div>
          </div>
          <div class="card-idea col-xl-6 col-sm-12 col-md-6">
            <div class="idea idea-6">
              <a href="#"><span>Week end Insolite en Corse</span>
                <p>Venez découvrir des biens insolites sur l'île de beauté niché au coeur de la Montagne</p>
              </a>
            </div>
          </div>
          <div class="card-idea col-xl-6 col-sm-12 col-md-6">
            <div class="idea idea-7">
              <a href="#"><span>Week end Insolite dans le Grand Est</span>
                <p>Nos week end insolite dans le Grand Est n'attendent que vous</p>
              </a>
            </div>
          </div>
          <div class="card-idea col-xl-6 col-sm-12 col-md-6">
            <div class="idea idea-8">
              <a href="#"><span>Week end Insolite dans les Hauts-de-France</span>
                <p>Venez vous évader le temps d'un week end dans les Haut de France</p>
              </a>
            </div>
          </div>
          <div class="card-idea col-xl-6 col-sm-12 col-md-6">
            <div class="idea idea-9">
              <a href="#"><span>Week end Insolite en Normandie</span>
                <p>Venez profiter des charmes de la Normandie dans un logement insolite, pour un week end en amoureux</p>
              </a>
            </div>
          </div>
          <div class="card-idea col-xl-6 col-sm-12 col-md-6">
            <div class="idea idea-10">
              <a href="#"><span>Week end Insolite en Nouvelle-Aquitaine</span>
                <p>Découvrez la Nouvelle-Aquitaine à travers nos hebergement qui vous promettent un dépaysement</p>
              </a>
            </div>
          </div>
          <div class="card-idea col-xl-6 col-sm-12 col-md-6">
            <div class="idea idea-11">
              <a href="#"><span>Week end Insolite en Occitanie</span>
                <p>Venez découvrir ce que l'Occitanie à a vous offrir le temps d'un week end</p>
              </a>
            </div>
          </div>
          <div class="card-idea col-xl-6 col-sm-12 col-md-6">
            <div class="idea idea-12">
              <a href="#"><span>Week end Insolite en Pays de la Loire</span>
                <p>Venez vous dépayser le temps d'un week end dans nos logements insolite dans les pays de la Loire</p>
              </a>
            </div>
          </div>
          <div class="card-idea col-xl-6 col-sm-12 col-md-6">
            <div class="idea idea-13">
              <a href="#"><span>Week end Insolite en Provence-Alpes-Côte d'Azur</span>
                <p>Idéal pour un dépaysement en Amoureux</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="categories-container">
      <div class="title">
        <h2>Les catégories de Logements Insolites</h2>
      </div>
      <div class="list-categories">
        <a class="col-xl-3 col-sm-6 col-md-4" *ngFor="let category of categories" href = "search/{{category.value}}">
          {{category.viewValue}}
        </a>
      </div>
    </div>

  </div>
</div>
